<header class="c-page__header">
  <div class="c-header__logo">
    <a id="header-logo-link" href="{{ "/" | prepend: site.baseurl }}">
      <img alt="Dieline" src="https://drive.google.com/thumbnail?id=1wdy4Gkg-AUDaDPHmL528IYBVeRVoKcyk&sz=w930">
    </a>
  </div>

  <nav id="c-header__nav">
    <a class="c-header-nav-item" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <a class="c-header-nav-item" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <a class="c-header-nav-item" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    <a class="c-header-nav-item" href="http://jen6.tistory.com">Previous Blog</a>
  </nav>
</header>
