/* ==========================================================================
   Tip
   ========================================================================== */

.c-tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.c-tags li {
  float: left; 
}

.c-tag {
	background: #eee;
	border-radius: 1vh 0 0 1vh;
	color: #999;
	display: inline-block;
	height: 4vh;
	line-height: 4vh;
	padding: 0 3vh 0 4vh;
	position: relative;
	margin: 0 2vh 2vh 0;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	font-size: 2vh;
}

.c-tag::before {
	background: #fff;
	border-radius: 4vh;
	box-shadow: inset 0 1px rgba(0,0,0,0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}

.c-tag::after {
	background: #fff;
	border-bottom: 2vh solid transparent;
	border-left: 1.8vh solid #eee;
	border-top: 2vh solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}

.c-tag:hover {
  background-color: $c-accent__blue;
  color: white;
}

.c-tag:hover::after {
   border-left-color: $c-accent__blue;
}

.c-c-tag {
    margin-right: 1rem;
    position: relative;
    white-space: nowrap;
    @include fs--body;
    &:before {
        color: $c-base__0;
        content: '#\2009';
    }
}

